$spacer: 1 !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25rem,
  2: $spacer * 0.5rem,
  3: $spacer * 1rem,
  4: $spacer * 1.5rem,
  5: $spacer * 3rem,
) !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
